#result{
    display: flex;
    margin-top: 15px;
    div {
        margin-right: 5px;
        color: #fff;
        background-color: red;
        text-align: center;
        padding: 10px 15px;
    }
}